.container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        text-transform: uppercase;
        font-size: 16px;
        @media(max-width: 1200px) {
            font-size: 16px;
        }
        @media(max-width: 800px) {
            font-size: 12px;
        }
        @media(max-width: 400px) {
            font-size: 10px;
        }
    }
}
.childContainer{
    padding: 0 200px;
    @media(max-width: 1650px){
        padding: 0 150px;
    }
    @media(max-width: 1500px){
        padding: 0 130px;
    }
    @media(max-width: 1280px){
        padding: 0 40px;
    }
}