.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
    height: 100%;
    
    .navItem{
        text-transform: uppercase;
        font-size: 10px;
        transition: 0.3s;
        
        &:hover{
            color: #3781f9;
            border-bottom: 2px solid #3781f9;
            transform: translateY(2px);
        }
    }

    .navLine{
        width: 2px;
        background-color: white;
        height: 13px;
        border: 1px solid white;
        
    }
    
    
}
